.order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
}
.pr-lg-0, .px-lg-0 {
    padding-right: 0 !important;
}
.order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
}
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.mh-full-screen-with-header {
    min-height: calc(100vh - 125px - 2rem);
}
.dark-overlay {
    position: relative;
}
.dark-overlay {
    position: relative;
}
.dark-overlay {
    position: relative;
}
.dark-overlay {
    position: relative;
}
.dark-overlay {
    position: relative;
}
.h-100 {
    height: 100% !important;
}
img.bg-image {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
img {
    vertical-align: middle;
    border-style: none;
}
.letter-spacing-5 {
    text-transform: uppercase;
    letter-spacing: .5em;
}
.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.text-primary {
    color: #9a6ee2 !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
h6, .h6 {
    font-size: .9rem;
}
.text-serif {
    font-family: "Playfair Display",serif !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}
.display-3 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.1;
}