<div *ngFor="let filterGroup of filterList" class="sidebar-block px-3 px-lg-0">
  <a data-toggle="collapse" href="#filterMenu" aria-expanded="false"
    aria-controls="filterMenu" class="d-lg-none block-toggler">Filter by {{filterGroup.group}}</a>
  <!-- Filter menu-->
  <div id="filterMenu" class="expand-lg collapse">
    <h6 class="sidebar-heading d-none d-lg-block">{{filterGroup.group}}</h6>
    <form action="#" class="mt-4 mt-lg-0">
      <div *ngFor="let filter of filterGroup.items" class="form-group mb-1">
        <div class="custom-control custom-checkbox">
          <input id="{{filter.name}}" type="checkbox" 
           (change)="filterResults(filterGroup.name, filter.id, $event.target.checked)" 
          name="{{filterGroup.name}}_{{filter.name}}" class="custom-control-input"
          [checked]="filter.isSelected">
          <label for="{{filter.name}}" class="custom-control-label">{{filter.name}}</label>
        </div>
      </div>
    </form>
  </div>
</div>
