.detail-option-heading {
    text-transform:uppercase;
    letter-spacing:0.1em;
    font-size:1rem;
    color:#495057
   }

.detail-option-badge {
    position:relative;
    border:1px solid #495057 !important;
    font-size: 1rem;
    margin-right: .5rem;
    padding: .5rem;
   }